[Unit]
Description=Kea DDNS Service
Documentation=man:kea-dhcp-ddns(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
User={{ kea_user }}
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment="KEA_LOCKFILE_DIR={{ kea_run_lock_dir }}"
Environment="PATH={{ path_defaults | join(':') }}"
ConfigurationDirectory={{ kea_name }}
RuntimeDirectory={{ kea_name }} {{ run_lock_dirname }}/{{ kea_name }}
RuntimeDirectoryPreserve=yes
LogsDirectory={{ kea_name }}
LogsDirectoryMode=0750
StateDirectory={{ kea_name }}
ExecStart={{ kea_ddns_bin_path }} -c "{{ kea_ddns_conf_path }}"

[Install]
WantedBy=kea-dhcp4-server.service
WantedBy=kea-dhcp6-server.service
